.team {
    padding: 60px 160px;
  }
  
  .team__container {
    background: #f5f5fa;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .team__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .team__card-img {
    background: url(../images/Team/Team-1main.png);
    background-position: center;
    background-size: cover;
    border-radius: 12px 0px 0px 12px;
  }
  .team__card-img img {
    overflow: hidden;
  }
  
  .team__card-subs {
    padding: 30px;
  }
  
  .team__card-subs a {
    margin-bottom: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
    &:hover {
      color: #f0145a;
    }
  }
  
  .team__card-quote {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 30px;
  }
  
  .team__card-name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #b3b3ba;
    margin-bottom: 10px;
  }
  
  .team__card-position {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #b3b3ba;
  }
  
  .team__card-navigation {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .team__card-navigation__bar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    background: #24a3ff;
    opacity: 0.2;
    transition: all 1s ease;
    &:hover {
      background: #f0145a;
      opacity: 0.4;
      transform: scale(1.2);
    }
  }
  
  input[name="team__card"] {
    display: none;
  }

  @media screen and (max-width: 1440px) {
    .team {
      padding: 60px;
    }
  }

  @media screen and (max-width: 1024px) {
    .team__card {
      grid-template-columns: 45% 55%;
    }
  }